@page "/editor/{identifier}"
@using Microsoft.AspNetCore.Components
@using Pantrymony.Model

<PageTitle>Add/Edit entry</PageTitle>

<h3>Editor (@identifier)</h3>

<table class="table">
    <tr class="form-group">
        <td>
            <img src="@editedEntry.ImageUrl" alt="">
        </td>
    </tr>
    <tr class="form-group">
        <td>
            <span class="col-form-label">@editedEntry.Name</span>
        </td>
    </tr>
    <tr class="form-group">
        <td>
            <label>Quantity:@editedEntry.Quantity</label>
            <button class="btn btn-outline-primary" @onclick="() => { IncrementQuantity(editedEntry); }">+</button>
            <button class="btn btn-outline-primary" @onclick="() => { DecrementQuantity(editedEntry); }">-</button>
        </td>
    </tr>
    <tr class="form-group">
        <td>
            <span class="col-form-label">KCal/100 units</span>
        </td>
        <td>
            <input type="number" class="input-group" @bind="editedEntry.Calories"/>
        </td>
    </tr>
    <tr class="form-group">
        <td>
            <span class="col-form-label">Protein %</span>
        </td>
        <td>
            <input type="number" class="input-group" @bind="editedEntry.Protein"/>
        </td>
    </tr>
    <tr class="form-group">
        <td>
            <span class="col-form-label">Carbohydrates %</span>
        </td>
        <td>
            <input type="number" class="input-group" @bind="editedEntry.Carbs"/>
        </td>
    </tr>
    <tr class="form-group">
        <td>
            <span class="col-form-label">Fat %</span>
        </td>
        <td>
            <input type="number" class="input-group" @bind="editedEntry.Fat"/>
        </td>
    </tr>
    <tr class="form-group">
        <td>
            <button class="btn btn-outline-primary" @onclick="SaveChanges">Save</button>
        </td>
    </tr>
</table>


@code {

    [Parameter]
    public string identifier { get; set; }

    Victual editedEntry;

    protected override Task OnInitializedAsync()
    {
        editedEntry = new Victual()
        {
            Identifier = Guid.Parse(identifier),
            Name = "Fakes",
            ImageUrl = "Lentils.jpg",
            Quantity = 2, Carbs = 45,
            Fat = 1,
            Protein = 30, Calories = 150, Unit = Unit.Kg
        };
        return Task.CompletedTask;
    }

    private void IncrementQuantity(Victual victual)
    {
        victual.Quantity++;
    }

    private void DecrementQuantity(Victual victual)
    {
        victual.Quantity--;
    }

    private void SaveChanges()
    {
        
    }

}